body {
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('../img/agra.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center center;
    /* overflow: hidden; */
}

/* Responsive Background image */

/* body {
    background: url('../img/agra.jpg');
    font-family: 'Baloo Bhai 2', cursive;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: center center;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
} */

.left {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 20px;
}

.left h4 {
    text-align: center;
}

.left img {
    padding: 0px 63px;
    width: 60px;
    filter: invert(100%);

}

.mid {
    display: block;
    width: 36%;
    margin: 20px auto;

}

.right {
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;
    text-align: center;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 16px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: rgb(253, 33, 169)
}

.btn {
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid gray;
    cursor: pointer;
}

.btn:hover {
    background-color: blue;
}

.container {
    border: 2px solid white;
    margin: 100px 50px;
    padding: 15px 15px;
    width: 28%;
    border-radius: 10px;
}

.form-group input {
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
    display: block;
    width: 300px;
    padding: 0px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 3px auto;
    font-size: 18px;
}

.container h1 {
    margin: 0px;
    text-align: center;
    font-size: 25px;
}

.container button {
    width: 60%;
    margin: 33px auto;
    display: block;
}

@media screen and (max-width:405px) {
    .left {
        height: 15vh;
        margin: 40px 30vw;
        text-align: center;
        /* border: 2px solid hotpink; */
    }

    .left img {
        width: 40px;
        /* border: 2px solid rgb(241, 220, 26); */
    }

    .left h4 {
        margin-top: 0px;
        /* border: 2px solid rgb(241, 220, 26); */
    }

    .mid {
        width: 99%;
        /* border: 2px solid rgb(241, 220, 26); */
    }

    .mid .navbar {
        margin: 0 27px;
        padding-left: 0;
        /* border: 2px solid rgb(212, 85, 11); */
    }

    .navbar li a {
        margin-left: 0;
        padding-left: 0;
        font-size: 15px;
    }

    .right {
        top: 80vh;
        left: 30px;
        margin: 0 auto;
        /* border: 2px solid rgb(241, 220, 26); */
    }

    .right .btn {
        font-size: 15px;
        /* border: 2px solid rgb(241, 220, 26); */
    }

    .container {
        margin: 18vh auto;
        padding: 15px;
        width: 80vw;
        border-radius: 10px;
    }

    .container h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    form .form-group input {
        width: 60vw;
        outline: none;
    }

    .container form {
        padding-top: 10px;
    }

    .container button {
        width: 50%;
        margin: 10px auto;
        display: block;
    }
}